* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px;
}

.learn-more {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.learn-more a {
  text-decoration: none;
  color: white;
  background-color: #79ADDC;
  padding: 11px 22px;
  border-radius: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.title-span {
  font-family: sans-serif;
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 107px;
  width: 80%;
}
.title-span h1 {
  font-size: 60px;
  font-weight: 500;
}
.title-span p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.image-text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 721px;
  min-height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}
.image-text-container .image {
  width: 260px;
  height: 150px;
}
.image-text-container .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.image-text-container .quote blockquote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  position: relative;
}
.image-text-container .quote blockquote q {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 385px;
  font-size: 16px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  line-height: 19px;
  letter-spacing: 1.5px;
}
.image-text-container .quote blockquote cite {
  position: absolute;
  bottom: 0;
  display: inline;
  right: 0;
  font-family: sans-serif;
  font-size: 20px;
  width: 175px;
  color: #79ADDC;
  font-style: normal;
  letter-spacing: 1.5px;
}

.title {
  text-transform: uppercase;
}

.main-title-underline {
  height: 10px;
  border-bottom: 2px solid black;
  width: 171px;
  margin-bottom: 36px;
}

.subtitle-underline {
  border-bottom: 2px solid black;
  width: 255px;
  margin-bottom: 36.5px;
}

.holder {
  position: relative;
  width: 236px;
  height: 304px;
  background-color: darkblue;
}
.holder .image {
  width: 100%;
  height: 100%;
}
.holder .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.holder .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-family: sans-serif;
}
.holder .overlay .text {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.holder .overlay .text h1 {
  margin-top: 50px;
  font-size: 60px;
  font-weight: 200;
}
.holder .overlay .text h2 {
  font-size: 30px;
  font-weight: 100;
}

.hero-container {
  margin-top: 48.5px;
  height: 413px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-container .image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-container .image img {
  height: 100%;
  width: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: 29px;
}
.hero-container .overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  height: 100%;
}
.hero-container .overlay h1 {
  margin-top: 42px;
  margin-left: 30px;
  color: white;
  font-weight: 300;
  font-family: sans-serif;
  font-size: 80px;
}
.hero-container .overlay p {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
}

.image-container {
  margin: 0 auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.image-container .image {
  width: 298px;
  height: 347px;
  overflow: hidden;
}
.image-container .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 5px;
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}
.image-container .image:hover img {
  -webkit-transform: scale(2);
          transform: scale(2);
  -o-object-position: center;
     object-position: center;
}

.days {
  width: 80%;
  margin: 0 auto;
  margin-top: 29px;
}
.days .day {
  margin-bottom: 89px;
}
.days .day h2 {
  font-family: sans-serif;
  font-size: 60px;
  font-weight: 200;
}
.days .day p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  max-width: 980px;
}
.days .day .underline {
  border-bottom: 2px solid black;
  width: 171px;
  margin-bottom: 36.5px;
}
.days a {
  border-radius: 0%;
  margin-bottom: 100px;
}

@media only screen and (max-width: 700px) {
  .image-text-container {
    display: block;
  }
  .image-text-container .image {
    margin-bottom: 20px;
  }
  .image-text-container .quote blockquote q {
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 940px) {
  .image-container {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .image-container img {
    margin-bottom: 20px;
  }

  .hero-container .overlay h1 {
    font-size: 40px;
  }
  .hero-container .overlay p {
    font-size: 16px;
  }
}
nav {
  position: sticky;
  top: 0;
  max-width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid white;
  z-index: 11;
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}
nav .links {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
nav .links a {
  text-decoration: none;
  color: white;
}
nav .links .pipe {
  color: #79ADDC;
}
nav .links .hamburger {
  visibility: hidden;
  height: 0;
  width: 0;
}

.dark {
  color: black;
  border-bottom: 2px solid black;
}
.dark .links a {
  color: black;
}

@media only screen and (max-width: 650px) {
  nav {
    position: relative;
    width: 100%;
  }
  nav .links a {
    visibility: hidden;
  }
  nav .links .pipe {
    visibility: hidden;
  }
  nav .links .hamburger {
    margin-right: 100px;
    visibility: visible;
    height: 50px;
    width: 50px;
  }
  nav .links .hamburger img {
    height: 50px;
    width: 50px;
  }
}
.hero {
  width: 100%;
  height: 80%;
  position: relative;
  margin-top: -100px;
  z-index: 0;
  overflow: hidden;
  color: white;
}
.hero img {
  position: absolute;
  top: 0;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.hero .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero .overlay .container {
  width: 50%;
  max-width: 500px;
  height: 60%;
  margin-top: 250px;
}
.hero .overlay .container h1 {
  font-weight: 200;
  font-size: 60px;
  font-family: sans-serif;
}
.hero .overlay .container i {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 100;
}

@media only screen and (max-width: 1150px) {
  .hero {
    height: 60%;
  }
}
@media only screen and (max-width: 845px) {
  .hero {
    height: 40%;
  }
  .hero .overlay .container {
    margin-top: 325px;
    height: 50%;
    margin-bottom: 250px;
  }
  .hero .overlay .container i {
    font-size: 14px;
  }
  .hero .overlay .container .learn-more {
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .hero img {
    -o-object-fit: contain;
       object-fit: contain;
    height: 100%;
    width: auto;
    -o-object-position: center;
       object-position: center;
  }
  .hero .overlay .container {
    margin-top: 350px;
    height: 50%;
    margin-bottom: 250px;
  }
  .hero .overlay .container h1 {
    font-size: 32px;
  }
  .hero .overlay .container i {
    font-size: 14px;
  }
  .hero .overlay .container .learn-more {
    font-size: 14px;
  }
}
.wrapper {
  width: 100%;
  margin-top: -56px;
  z-index: 1;
}
.wrapper .promo-holder {
  max-width: 1800px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  z-index: 1;
}
.wrapper .promo-holder .holder {
  position: relative;
  width: 236px;
  height: 304px;
  background-color: darkblue;
}
.wrapper .promo-holder .holder .image {
  width: 100%;
  height: 100%;
}
.wrapper .promo-holder .holder .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.wrapper .promo-holder .holder .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-family: sans-serif;
}
.wrapper .promo-holder .holder .overlay .text {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper .promo-holder .holder .overlay .text h1 {
  font-size: 60px;
  font-weight: 200;
}
.wrapper .promo-holder .holder .overlay .text h2 {
  font-size: 30px;
  font-weight: 100;
}

@media only screen and (max-width: 760px) {
  .wrapper .promo-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .wrapper .promo-holder .holder {
    margin-bottom: 20px;
  }
}
.booking-form {
  z-index: 1;
  font-family: sans-serif;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.booking-form .container {
  width: 80%;
  max-width: 1100px;
}
.booking-form .container .title h1 {
  font-weight: 200;
  font-family: sans-serif;
  font-size: 60px;
}
.booking-form .container form {
  background-color: #fff;
  min-height: 100%;
  margin-bottom: 16px;
}
.booking-form .container form input {
  height: 58px;
  border: 2px solid #79ADDC;
  padding: 10px;
  margin: 21px;
}
.booking-form .container form #name,
.booking-form .container form #country {
  width: 344px;
}
.booking-form .container form #email,
.booking-form .container form #hotel {
  width: 453px;
}
.booking-form .container form #check-in,
.booking-form .container form #check-out {
  width: 698px;
}
.booking-form .container form select {
  height: 58px;
  border: 2px solid #79ADDC;
  padding: 10px;
  width: 103px;
  margin: 21px;
}
.booking-form .container form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.booking-form .container form .learn-more a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 760px) {
  .booking-form {
    width: 100%;
  }
  .booking-form .container form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .booking-form .container form input {
    width: 100%;
  }
  .booking-form .container form select {
    width: 100%;
  }
  .booking-form .container form #name,
.booking-form .container form #country {
    width: 100%;
  }
  .booking-form .container form #email,
.booking-form .container form #hotel {
    width: 100%;
  }
  .booking-form .container form #check-in,
.booking-form .container form #check-out {
    width: 100%;
  }
}
footer {
  position: relative;
  bottom: 0;
  z-index: 1;
  background-color: #79ADDC;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
footer .logo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
footer .socials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-width: 676px) {
  footer {
    font-size: 10px;
  }
}
.about {
  width: 100%;
  margin-top: 109px;
}
.about .client-quotes {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 200px;
}
.about .client-quotes .title h2 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 40px;
  font-style: normal;
}
.about .title-span .title {
  letter-spacing: 1.5px;
}
.about .title-span p {
  letter-spacing: 1.5px;
}

.tours {
  position: relative;
  max-width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 100px;
  padding: 20px;
}
.tours .holder {
  margin-bottom: 55px;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .tours {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.banner {
  position: relative;
  max-width: 981px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}
.banner .image {
  position: absolute;
  width: 981px;
  height: 200px;
  margin: 0 auto;
}
.banner .image img {
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.banner .overlay {
  position: absolute;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  text-transform: uppercase;
}
.banner .overlay h1 {
  font-family: sans-serif;
  font-size: 60px;
  letter-spacing: 1.5px;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}
.contact .map {
  width: 400px;
}
.contact .map .map-image {
  width: 100%;
  height: 442px;
  margin-bottom: 34px;
  overflow: hidden;
}
.contact .map .map-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contact .map .map-address {
  width: 100%;
  height: 161px;
}
.contact .map .map-address pre {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: lighter;
  line-height: 23px;
  letter-spacing: 1.5px;
}
.contact .contact-form {
  width: 529px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.contact .contact-form form input {
  background-color: whitesmoke;
  width: 100%;
  height: 60px;
  margin-bottom: 21px;
  padding-left: 20px;
  border: none;
}
.contact .contact-form form #message {
  height: 529px;
}
.contact .contact-form form button {
  width: 167px;
  height: 60px;
  margin: 0 auto;
  background-color: #79ADDC;
  border: NONE;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16;
}

.title {
  width: 80%;
  margin: 0 auto;
  margin-top: 64.5px;
}
.title h1 {
  font-family: sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 9.5px;
}
.title .underline {
  border-bottom: 2px solid black;
  width: 159px;
}

@media only screen and (max-width: 1000px) {
  .contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .map {
    margin: 20px auto;
  }
}
.special-offers {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  margin-top: 35.5px;
}
.special-offers .offer {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.special-offers .offer .image {
  width: 199px;
  height: 287px;
}
.special-offers .offer .image img {
  height: 100%;
  width: 100%;
}
.special-offers .offer .offer-text {
  margin-left: 20px;
}
.special-offers .offer .offer-text h2 {
  width: 335px;
  font-weight: 200;
  font-family: sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-bottom: 7.5px;
}
.special-offers .offer .offer-text .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.special-offers .offer .offer-text .group .underline {
  width: 196px;
  border-top: 2px solid black;
}
.special-offers .offer .offer-text .group h3 {
  color: #FF7D38;
  font-weight: 200;
  font-size: 20px;
  font-family: sans-serif;
  margin-left: 20.5px;
  letter-spacing: 1.5px;
}
.special-offers .offer .offer-text .description {
  width: 290px;
}
.special-offers .offer .offer-text .description p {
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 1.5px;
}
.special-offers .offer .offer-text .learn-more {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blog {
  width: 80%;
  margin: 0 auto;
  margin-top: 31px;
}
.blog .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blog .post .calendar {
  width: 60px;
  height: 60px;
  background-color: #79ADDC;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: sans-serif;
}
.blog .post .calendar .date {
  font-weight: bold;
  font-size: 22px;
}
.blog .post .calendar .month {
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: italic;
  font-weight: 200;
}
.blog .post .image-text {
  margin-left: 20px;
}
.blog .post .image-text .image {
  height: 259px;
  max-width: 900px;
  margin-bottom: 20px;
}
.blog .post .image-text .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.blog .post .image-text .text .black {
  margin-bottom: 11px;
  max-width: 245px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.blog .post .image-text .text .blue {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  color: #79ADDC;
  max-width: 380px;
}

@media only screen and (max-width: 1950px) {
  .blog .post .calendar {
    margin-bottom: 20px;
  }
}