.learn-more {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
        text-decoration: none;
        color: white;
        background-color: #79ADDC;
        padding: 11px 22px;
        border-radius: 50px;
        font-family: sans-serif;
        text-transform: uppercase;
    }
}

.title-span {
    font-family: sans-serif;
    max-width: 980px;
    margin: 0 auto;
    margin-bottom: 107px;
    width: 80%;
    h1 {
        font-size: 60px;
        font-weight: 500;
    }
    p {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 16px;
    }
}

.image-text-container {
    display: flex;
    max-width: 721px;
    min-height: 150px;
    justify-content: space-between;
    margin-bottom: 20px;
    .image {
        width: 260px;
        height: 150px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .quote {
        blockquote {
            display: flex;
            height: 100%;
            position: relative;
            q {
                display: flex;
                max-width: 385px;
                font-size: 16px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-style: italic;
                line-height: 19px;
                letter-spacing: 1.5px;
            }
            cite {
                position: absolute;
                bottom: 0;
                display: inline;
                right: 0;
                font-family: sans-serif;
                font-size: 20px;
                width: 175px;
                color: #79ADDC;
                font-style: normal;
                letter-spacing: 1.5px;
            }
        }
    }
}

.title {
    text-transform: uppercase;
}

.main-title-underline {
    height: 10px;
    border-bottom: 2px solid black;
    width: 171px;
    margin-bottom: 36px;
}

.subtitle-underline {
    border-bottom: 2px solid black;
    width: 255px;
    margin-bottom: 36.5px;
}

.holder {
    position: relative;
    width: 236px;
    height: 304px;
    background-color: darkblue;
    .image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: white;
        font-family: sans-serif;
        .text {
            height: 50%;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            flex-direction: column;
            h1 {
                margin-top: 50px;
                font-size: 60px;
                font-weight: 200;
            }
            h2 {
                font-size: 30px;
                font-weight: 100;
            }
        }
    }
}

// Hero On tour pages
.hero-container {
    margin-top: 48.5px;
    height: 413px;
    position: relative;
    display: flex;
    justify-content: center;
    .image {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        overflow: hidden;
        display: flex;
        justify-content: center;
        img {
            height: 100%;
            width: 80%;
            object-fit: cover;
            object-position: center;
            margin-bottom: 29px;
        }
    }
    .overlay {
        position: absolute;
        top: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 80%;
        height: 100%;
        h1 {
            margin-top: 42px;
            margin-left: 30px;
            color: white;
            font-weight: 300;
            font-family: sans-serif;
            font-size: 80px;
        }
        p {
            position: absolute;
            bottom: 0;
            right: 0;
            color: #fff;
            font-family: sans-serif;
            font-size: 30px;
        }
    }
}

// Image Containers
.image-container {
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    .image {
        width: 298px;
        height: 347px;
        overflow: hidden;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin: 5px;
            transition: ease-in-out 1s;
        }
    }
    .image:hover {
        img {
            transform: scale(2);
            object-position: center;
        }
    }
}

// Days
.days {
    width: 80%;
    margin: 0 auto;
    margin-top: 29px;
    .day {
        h2 {
            font-family: sans-serif;
            font-size: 60px;
            font-weight: 200;
        }
        p {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 16px;
            max-width: 980px;
        }
        .underline {
            border-bottom: 2px solid black;
            width: 171px;
            margin-bottom: 36.5px;
        }
        margin-bottom: 89px;
    }
    a {
        border-radius: 0%;
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 700px) {
    .image-text-container {
        display: block;
        .image {
            margin-bottom: 20px;
        }
        .quote {
            blockquote {
                q {
                    margin-bottom: 40px;
                }
                cite {}
            }
        }
    }
}

@media only screen and (max-width: 940px) {
    .image-container {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        img {
            margin-bottom: 20px;
        }
    }
    .hero-container {
        .overlay {
            h1 {
                font-size: 40px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}