footer {
    margin-top: 300px;
    background-color: #79ADDC;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    .logo {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .copyright {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .socials {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 850px) {
    footer {
        margin-top: 700px;
    }
}